@import "ngx-toastr/toastr";

@tailwind base;
@tailwind utilities;

body {
  font-family: Inter, sans-serif;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse-animation 1.2s infinite;
}
@keyframes pulse-animation {
  0% {
    background-color: #ccc;
  }
  50% {
    background-color: #e2e2e2;
  }
  100% {
    background-color: #ccc;
  }
}

.toast-top-center {
  top: 30px;
}
